<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>

<div class="center hero-unit">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      <h3>
      <h2>
        <%= @user.username %>
      </h2>
    </section>
</div>

<br />

<div class="row">
  <aside class="span4">
  <%= render 'shared/bookmark_form' %>
  </aside>
</div>

<div >
  <% if @user.bookmarks.any? %>
    <h3>Bookmarks (<%= @user.bookmarks.count %>)</h3>
    <ol class="bookmarks">
      <%= render @bookmarks %>
    </ol>
  <% end %>
</div>

<br />

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Home', root_path %>
